/* Theme was developed by nufranks at https://userstyles.org/styles/137361/dark-transparent-whatsapp */
:root { --mainBg: #1F1F1F /*paste before this comment your custom transparent color in format rgba(0,0,0,0)*/ ; --txtIcns: #EEEEEE ; --mnuPnls: #005E52 ; --alrt: #009F8B ; } html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, ._2cLHw, ._25Ooe, ._3Bxar, ._2EXPL._1f1zm ._1AwDx, ._1AwDx, ._2zCDG, .Gd51Q._3sgkv, ._3_7SH, .Y9G3K, ._1DZAH, ._1sYdX, ._3LL06, .iYPsH, ._484uz, .Cpiae, ._7HWvs, ._15aTv, html[dir] ._1o1sm:hover, html[dir] ._1zO0a, html[dir="ltr"] ._3Ye_R, ._3EcLu, ._2-3jQ { color: var(--txtIcns) !important; font-family: Roboto, sans-serif!important; ; } ::selection { background-color: var(--alrt) !important; color: var(--txtIcns) !important; } ::-moz-selection { background-color: var(--alrt) !important; color: var(--txtIcns) !important; } body, html[dir] ._3dqpi, html[dir] ._1WliW, html[dir] .gQzdc::after, html[dir] ._2EXPL, html[dir] ._3AwwN::after, html[dir] ._1GX8_, html[dir] ._3oju3, button, html[dir] ._1FKgS::after, html[dir] ._1o1sm._2nOMz, html[dir] ._2EXPL._1f1zm, html[dir] ._2EXPL, html[dir] ._1FroB, html[dir] ._1CRb5, html[dir] .bZ3B9, ._2tNFJ, ._2i2ET, html[dir] ._3F6QL._16pR3, html[dir] ._1CSx9, html[dir] ._1CkkN, ._1iopp, html[dir] .YAPQk, .gQzdc, html[dir] ._3XpR2, html[dir] ._3gUiM, html[dir] .PNlAR, html[dir] ._2ByZq, html[dir] .Sbkt2, html[dir] ._2rR_l, html[dir] .wDFKR, html[dir] ._3nuGo, html[dir] .GpvML, html[dir] ._2gZno._2UCiX .GpvML::after, html[dir] ._2gZno::after, html[dir] ._1ypOz, html[dir] ._3hV1n, html[dir] .zl5TR, html[dir] .MS-DH._1baOM, html[dir] .MS-DH._2-mCk, html[dir] ._3b2Cf, html[dir] ._3b2Cf::before, html[dir] ._1sGGp._2nFG1, html[dir] ._2lwig._2nFG1, html[dir] ._1AKfk, html[dir] .iHLo1, input, html[dir] ._1zcz2, html[dir] ._1mq8g, html[dir] ._3qlW9, html[dir] .TL5dU, html[dir] ._1iJeo, html[dir] ._2EYZY, html[dir] ._1VeYA ._3PmkG, html[dir] ._39pS-, html[dir] ._2zkF3, html[dir] ._66JgU, html[dir] ._1lIXT, html[dir] ._1jJLh, html[dir] .TYhk9, html[dir] .MS-DH::before, html[dir] .MS-DH._1baOM::after, html[dir] .MS-DH._1baOM::before, html[dir] .MS-DH._2-mCk:before, html[dir] .MS-DH._2-mCk:after, html[dir] ._2U_Zc::before, html[dir] .HnNfm, #startup, #initial_startup, html[dir] ._3FAwT, html[dir] ._3v_lq.j5Hcb, html[dir] .j5Hcb, html[dir] ._1XwnX, html[dir] ._2flas, html[dir] .Um7sh, #main header, html[dir] ._3pkkz, html[dir] ._3pkkz, html[dir] ._2tW_W, html[dir] ._3tlsa, html[dir] ._36ApL, html[dir] ._2l_cS, ._1vDUw .RLfQR, html[dir] ._3SX5f, html[dir] ._18wuJ, html[dir] ._1VX5S, html[dir] ._2mZ8F, ._1UWg0 > span:nth-child(1), html[dir] ._2z7kg, html[dir] ._2HBs4, html[dir] .message-out ._3JaNE ._2Ll5c, html[dir] .message-in ._3JaNE ._2Ll5c, html[dir] .message-in ._3JaNE ._2R8MP, html[dir] .message-in ._3JaNE ._2R8MP, html[dir] .message-in ._3JaNE ._2Ll5c, html[dir] ._2pvbg.D4OT6 { background-color: transparent !important; } html[dir] ._3auIg, html[dir] ._3CPl4, html[dir] ._1NrpZ, html[dir] .message-out, html[dir] .message-in, html[dir] ._2MSJr, html[dir] ._2bXVy, ._1fkhx, html[dir] .Uukb4, html[dir] ._3F6QL._16pR3, html[dir] .WX_XW, html[dir] ._3_R6X, html[dir] ._2FsQ8, html[dir] ._2NbD3, html[dir] ._1k6Uw, html[dir] ._1Plpp, html[dir] .YbzIC, html[dir] ._1ArIP, html[dir] ._1ArIP ._1v2rQ, html[dir] ._3kAJH, html[dir] ._2XiC1, html[dir] .rstyJ, html[dir] ._1qUma, html[dir] ._2Lbqu, html[dir] ._3D9Wd, html[dir] ._1o1sm._2nOMz, ._2dA13, html[dir] ._3Jgri, ._1KVmM, html[dir] ._1UbeR, html[dir] .V9yxQ, html[dir] ._1RQfk { background-color: var(--mainBg) !important; } html[dir] ._1rPH1 .emojik:focus, html[dir] .emojik.selected { box-shadow: 0 0 0px 5px var(--alrt); } html[dir] ._1CRb5 { transition: all .1s ease; } html[dir] .L89LI, html[dir] ._2Par4, html[dir] ._2MSJr { border-radius: 7.5px !important; } body, html[dir] .app, [data-asset-chat-background], html[dir="ltr"] .message-out .tail-container, html[dir] ._1i3Za, html[dir="ltr"] .message-in .tail-container, html[dir="ltr"] .message-in .tail-container.highlight, html[dir=ltr] ._1i1U7.jZ4tp, html[dir=rtl] ._1i1U7.jZ4tp, html[dir=ltr] ._1i1U7._2DNgV, html[dir=rtl] ._1i1U7._2DNgV, ._2i2ET, .ZScUN._3jw2f, html[dir="ltr"] .GpvML::before, ._2tNFJ { background-image: none !important; background: none !important; } [data-asset-intro-image] {  } html[dir] ._1GX8_ { background-image: none!important; } html[dir] ._3_7SH, html[dir] ._2uLFU, html[dir] .gQzdc._3sdhb, html[dir] ._1CRb5, html[dir] ._1WZqU:hover, html[dir] ._3JaNE ._2R8MP { box-shadow: none !important; } body { background-color: #0a0a0a !important; background-size: cover !important; background-position: center !important; font-smoothing: antialiased; } html[dir] ._2MSJr, html[dir] .gQzdc::after, html[dir] ._2EXPL._1f1zm ._3j7s9, html[dir] ._3j7s9, html[dir] ._2EXPL:hover::after, html[dir] ._2EXPL._3df_h::after, html[dir] ._2EXPL._1f1zm::after, html[dir] ._3AwwN::after, html[dir="ltr"] ._3AwwN, html[dir="ltr"] ._1fkhx, html[dir] ._1CkkN + ._1CkkN ._10xEB, html[dir] ._1CkkN:hover + ._1CkkN:before, html[dir] ._2bXVy, html[dir] .TYhk9, html[dir="ltr"] .three ._2yeJ5, html[dir] ._14oqx + ._14oqx .DcItJ, html[dir] ._3YwRO, html[dir] ._3_3Rs, html[dir] ._1mq8g, html[dir] ._3Qh77, html[dir="ltr"] ._3oju3, html[dir="ltr"] ._3F6QL._2WovP ._2S1VP, html[dir] ._1Plpp, html[dir="ltr"] ._1JbDr, html[dir="ltr"] ._2WvMb:first-child, html[dir] ._3hhmj, html[dir="ltr"] ._2y17h { border: 0 !important; } html[dir] ._2NQtS, html[dir] ._22cMG.fS1bA .nDKsM { background-color: var(--txtIcns) !important; } svg path:nth-child(2n), [data-icon=default-user] > svg:nth-child(1) > path:nth-child(1), [data-icon*=chevron-] > svg:nth-child(1) > path:nth-child(1), ._3L0q3._167q._1Fc0v svg g path { fill: var(--mnuPnls) !important; fill-opacity: 1 !important; opacity: 1 !important; } svg path:nth-child(2n+3), g:nth-child(2) > path:nth-child(1), .LQEjW > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1), ._2fJ2T > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1), svg path:nth-child(2n+1), [data-icon*=emoji-] > svg > path, ._2G3cZ > span:nth-child(1) > svg:nth-child(1) > path:nth-child(2), .nKIJU > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1) { fill: var(--txtIcns) !important; fill-opacity: 1 !important; opacity: 1 !important; } svg:hover path { opacity: 1 !important; } progress { background-color: var(--txtIcns) !important; } ._3wPo6 { background-color: var(--txtIcns) !important; } progress[value]::-webkit-progress-bar { background-color: var(--txtIcns) !important; } progress[value]::-webkit-progress-value { background-color: var(--alrt) !important; } progress[value]::-moz-progress-bar { background-color: var(--alrt) !important; } html[dir] ._2EZ_m { padding: 1em !important; background-color: var(--txtIcns) !important; } .spinner-path, .Qf313, ._2wGBy, ._3AnXT, ._1tACm { stroke: var(--txtIcns) !important; } html[dir] ._1sB6s, html[dir] ._3dGYA, html[dir] .MwhOx, html[dir] ._1UvQg, html[dir] ._298R6, html[dir] ._3S8Q-, html[dir] .Zq3Mc, html[dir] ._2fq0t, html[dir] ._2uLFU, html[dir] ._1CnF3, html[dir] .L89LI, html[dir] ._3v_lq.j5Hcb, ._2dwaZ, html[dir] ._3sacU, ._3S8hp, html[dir] ._34Sa-, ._3OHGh, html[dir] ._35DHA, html[dir] .ao2gD, html[dir] ._2YdsD, html[dir] ._2Par4, ._1_C41 { background-color: var(--mnuPnls) !important; color: var(--txtIcns) !important; } .me9CP, html[dir] ._2e8Mu { border-color: var(--mnuPnls) !important; } html[dir] ._31WRs ._1DTd4, .me9CP, html[dir] ._2e8Mu { border-color: var(--txtIcns) !important; } html[dir] ._3qlW9::after { border-color: var(--alrt) !important; } ._2548U, ._1qi0v, ._1WZqU.PNlAR { color: var(--mnuPnls) !important; } ._1qi0v, ._1WZqU.PNlAR { font-weight: 700 !important; } ._2CI-F { font-weight: 500 !important; } [data-icon=status-dblcheck-ack] > svg:nth-child(1) > path:nth-child(1), [data-icon=status-ptt-blue] > svg:nth-child(1) > path:nth-child(1), [data-icon=msg-dblcheck-ack] > svg:nth-child(1) > path:nth-child(1), [data-icon=msg-dblcheck-ack-light] > svg:nth-child(1) > path:nth-child(1) { fill: var(--alrt) !important; } .vdXUe, ._2v_Lo, ._1lrYJ > a, ._2-3jQ, .matched-text { color: var(--alrt) !important; } html[dir] .OUeyt, html[dir] .YGHyX, html[dir] ._1Wbpa, html[dir] ._3hV1n, ._1VD7W, html[dir] ._3AwwN, html[dir] ._28zBA._14ou2, ._2EXPL._1f1zm, html[dir] ._1WZqU, html[dir] ._2vjPO, html[dir] ._1qhoQ._2DNgV .YiYMT, html[dir] ._1o1sm:hover, html[dir] ._1zO0a, html[dir] ._36Zz0._1exov { background-color: var(--alrt) !important; } ._3T2VG, [class*=emojik], [data-icon] { opacity: .6 !important; transition: all .1s ease; } [class*=emojik]:hover, [data-icon] { opacity: 1 !important; } button.GK4Lv svg path:nth-child(2n), button.GK4Lv svg path:nth-child(2n+1), ._1jjYO > span:nth-child(1) > svg:nth-child(1) > path:nth-child(3) { fill-opacity: 1 !important; opacity: 1 !important; fill: var(--mnuPnls) !important; } ._3CSsZ svg path:nth-child(2n+1) { fill-opacity: 0 !important; opacity: 0 !important; } #Stroke-1, #Stroke-5 { fill-opacity: 0 !important; } li._10anr > button > span > svg > path:nth-child(5), ._1jjYO > span:nth-child(1) > svg:nth-child(1) > path:nth-child(1) { fill-opacity: 1 !important; opacity: 1 !important; fill: var(--txtIcns) !important; } .app-wrapper-web ._3dqpi { height: 100% !important; top: 0 !important; width: 100% !important; } ._1bX-5, ._1wjpf._3NFp9, html[dir="ltr"] ._2cLHw, html[dir="ltr"] ._3F6QL ._39LWd, .O90ur, ._2ArBI > span, html[dir="ltr"] ._3Ye_R, ._3EFt_, html[dir] ._1tq8Y .roLzG, html[dir] .-Kxns ._3KLpz, ._3EcLu { opacity: .55 !important; } html[dir] ._2jVLL { background-color: transparent !important; } .iHhHL { font-size: 20px !important; font-weight: 700 !important; text-transform: uppercase !important; } html[dir] .Zq3Mc { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4) } html[dir] ._2EXPL { transition: all .2s ease; } html[dir] ._2EXPL._1f1zm { background-color: rgba(255, 255, 255, .08) !important; } html[dir] ._2EXPL:hover { background-color: rgba(255, 255, 255, .025) !important; } ._3lztd { position: static; } hr, ._1JbDr ._1vDUw object, .V9yxQ object, html[dir] ._2y17h::after { display: none; } a.selectable-text.invisible-space.copyable-text, a.selectable-text.invisible-space.copyable-text:visited, a.selectable-text.invisible-space.copyable-text:active, a.selectable-text.invisible-space.copyable-text:hover { text-decoration: underline; color: var(--alrt) !important; }  .app-wrapper-web ._3dqpi { height:100%!important; top:0!important; width:100%!important;} html[dir] ._3AwwN { height: auto !important; padding: 6px !important;}._1WBXd,._1i0-u { padding: 7px 7px; min-height: 40px !important; background-color: var(--mainBg) !important;}html[dir=ltr] ._18tv-,header._3AwwN .Qgzj8 { border-radius: 0 !important; border-top-left-radius: 7.5px !important; border-bottom-left-radius: 7.5px !important;}header._3AwwN .Qgzj8 { border-top-right-radius: 7.5px !important; border-bottom-right-radius: 7.5px !important;}html[dir=ltr] ._18tv- { background-color: var(--mainBg) !important;}html[dir] ._3pkkz { padding: 0 6px;}._3pkkz,._2tW_W { min-height: 0;}html[dir="ltr"] ._1i0-u { margin-left: auto !important; padding-left: 20px !important; border-top-right-radius: 7.5px !important; border-bottom-right-radius: 7.5px !important;}._18tv- > div:nth-child(1) { width: 54px !important; height: 54px !important;}html[dir] ._1qi0v:hover,html[dir] ._1WZqU:hover { background-color: rgba(0, 0, 0, .4) !important; color: var(--txtIcns) !important;}[data-icon="smiley"] svg { width: 20px !important; height: 20px !important; border-top-left-radius: 7.5px !important; border-bottom-left-radius: 7.5px !important;}html[dir="ltr"] ._2Fofa,html[dir] ._2Fofa { margin: auto !important;}html[dir] ._1Plpp { border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important; border-top-right-radius: 7.5px !important; border-bottom-right-radius: 7.5px !important;}html[dir] ._1Plpp ._35EW6 { opacity: 1 !important;}.weEq5 { min-height: 54px !important;}._1x_c3 { top: 4px !important; padding: 10px 0 10px 10px !important; height: 20px !important; background-color: var(--mainBg) !important; border-top-left-radius: 7.5px !important; border-bottom-left-radius: 7.5px !important;}html[dir] .weEq5 { padding: 5px 0 !important;}html[dir] ._35EW6 { margin-top: 4px; position: absolute; right: 14px; padding: 10px; border-top-right-radius: 7.5px; border-bottom-right-radius: 7.5px !important; height: 40px !important; width: 40px !important;}._1UWg0 { box-sizing: border-box !important;}._1UWg0 { background: var(--mainBg) !important; border-top-right-radius: 7.5px; border-bottom-right-radius: 7.5px !important;}._1-hDo,._1-hDo *,._2SbJ1 > span:nth-child(1) > svg:nth-child(1) { box-sizing: border-box;}._2SbJ1 { position: static !important; bottom: auto !important; margin: 0 !important; flex: 0 0 auto !important;}html[dir] ._1UWg0 { width: auto !important; box-sizing: border-box !important; position: relative !important;}[data-icon="ptt"],._2SbJ1 > span > svg,._35EW6 svg,._1x_c3._338za svg { height: 20px !important;}._1UWg0 > span:nth-child(1) { background-color: var(--mainBg) !important; position: absolute; right: 0; top: 0; height: 20px !important; padding: 10px; border-top-right-radius: 7.5px; border-bottom-right-radius: 7.5px !important;}._3oju3 { align-items: flex-start;}._1-hDo { position: absolute !important; right: 0 !important; top: 0 !important;}.cOcmP { top: 0 !important; height: 20px !important; padding: 20px !important; opacity: 1 !important; z-index: 2 !important; background-color: var(--mainBg) !important; border-top-right-radius: 7.5px; border-bottom-right-radius: 7.5px !important;}.cOcmP svg { width: 20px !important; height: 20px !important; top: 0 !important;}html[dir] ._1Plpp { margin: 5px 0 5px 0 !important;}.ZBZ4i,.mYCYF._3svz5.oNpAz ._1x_c3 { padding: 10px !important;}html[dir=ltr] .cOcmP:hover,html[dir=ltr] .cOcmP._1K6WL { -webkit-transform: none !important; transform: none !important;}html[dir=rtl] .cOcmP:hover,html[dir=rtl] .cOcmP._1K6WL { -webkit-transform: none !important; transform: none !important;}html[dir="ltr"] ._3F6QL._2WovP ._2S1VP { padding-right: 27px !important; z-index: 0;}#main header { background-color:var(--mainBg)!important; margin:6px!important; border-radius:7.5px!important; width:calc(100% - 13px)!important;}button.reply-options {color: white;   border: 2px solid #1f1f1f;}


/* Using dark class for dark mode */
.dark {
    --active-tab-marker: #00af9c;
    --active-tab-marker-rgb: 0,175,156;
    --app-background: #090e11;
    --app-background-rgb: 9.3,13.74,16.7;
    --app-background-deeper: #090e11;
    --app-background-deeper-rgb: 9.3,13.74,16.7;
    --app-background-stripe: transparent;
    --app-background-stripe-rgb: 0,0,0;
    --attach-media-drop-border: rgba(241,241,242,0.2);
    --attach-media-drop-border-rgb: 241,241,242;
    --attach-media-drop-overlay: rgba(56,61,63,0.3);
    --attach-media-drop-overlay-rgb: 55.76,60.6,63.24;
    --audio-control-incoming: #848488;
    --audio-control-incoming-rgb: 132,132,136;
    --audio-control-outgoing: #d1d7db;
    --audio-control-outgoing-rgb: 209,215,219;
    --audio-progress-incoming: #3cb362;
    --audio-progress-incoming-rgb: 60,179,98;
    --audio-progress-outgoing: #5f9899;
    --audio-progress-outgoing-rgb: 95,152,153;
    --audio-progress-played-incoming: #5ca0c2;
    --audio-progress-played-incoming-rgb: 92,160,194;
    --audio-progress-played-outgoing: #55aacb;
    --audio-progress-played-outgoing-rgb: 85,170,203;
    --audio-track-incoming: #3b4044;
    --audio-track-incoming-rgb: 59,64,68;
    --audio-track-outgoing: #1d6f70;
    --audio-track-outgoing-rgb: 29,111,112;
    --avatar-background: #131c21;
    --avatar-background-rgb: 18.6,28.22,33.4;
    --avatar-border: #a5aaad;
    --avatar-border-rgb: 165,170,173;
    --avatar-placeholder-background: #6e7377;
    --avatar-placeholder-background-rgb: 110,115,119;
    --avatar-placeholder-primary: #d6d7d9;
    --avatar-placeholder-primary-rgb: 214,215,217;
    --background-default: #131c21;
    --background-default-rgb: 18.6,28.22,33.4;
    --background-default-active: #323739;
    --background-default-active-rgb: 49.815,54.58382,57.185;
    --background-default-hover: #2d3134;
    --background-default-hover-rgb: 44.745,49.27333,52.155;
    --badge-border: #d4d5d7;
    --badge-border-rgb: 212,213,215;
    --badge-pending: #009688;
    --badge-pending-rgb: 0,150,136;
    --beta-tag-background: #364147;
    --beta-tag-background-rgb: 54,65,71;
    --border-bubble: rgba(241,241,242,0.12);
    --border-bubble-rgb: 241,241,242;
    --border-default: #242d32;
    --border-default-rgb: 36,45,50;
    --border-list: #30383d;
    --border-list-rgb: 48,56,61;
    --border-panel: #30373b;
    --border-panel-rgb: 48,55,59;
    --border-strong: #3b4347;
    --border-strong-rgb: 59,67,71;
    --border-stronger: rgba(241,241,242,0.11);
    --border-stronger-rgb: 241,241,242;
    --bubble-meta: rgba(241,241,242,0.63);
    --bubble-meta-rgb: 241,241,242;
    --bubble-meta-icon: rgba(241,241,242,0.63);
    --bubble-meta-icon-rgb: 241,241,242;
    --business-name-title: #d4d5d7;
    --business-name-title-rgb: 212,213,215;
    --business-name-subtitle: #b3b3b3;
    --business-name-subtitle-rgb: 179,179,179;
    --butterbar-battery-background: #a7494c;
    --butterbar-battery-background-rgb: 167,73,76;
    --butterbar-battery-icon: #f5d6d7;
    --butterbar-battery-icon-rgb: 245,214,215;
    --butterbar-battery-primary: rgba(241,241,242,0.96);
    --butterbar-battery-primary-rgb: 241,241,242;
    --butterbar-battery-secondary: rgba(241,241,242,0.75);
    --butterbar-battery-secondary-rgb: 241,241,242;
    --butterbar-connection-background: #d7a53b;
    --butterbar-connection-background-rgb: 215,165,59;
    --butterbar-connection-primary: rgba(9,14,17,0.96);
    --butterbar-connection-primary-rgb: 9.3,13.74,16.7;
    --butterbar-connection-secondary: rgba(9,14,17,0.75);
    --butterbar-connection-secondary-rgb: 9.3,13.74,16.7;
    --butterbar-default-background: #085373;
    --butterbar-default-background-rgb: 8,83,115;
    --butterbar-fatal-background: #d7a53b;
    --butterbar-fatal-background-rgb: 215,165,59;
    --butterbar-fatal-primary: rgba(9,14,17,0.96);
    --butterbar-fatal-primary-rgb: 9.3,13.74,16.7;
    --butterbar-fatal-secondary: rgba(9,14,17,0.75);
    --butterbar-fatal-secondary-rgb: 9.3,13.74,16.7;
    --butterbar-icon: rgba(241,241,242,0.8);
    --butterbar-icon-rgb: 241,241,242;
    --butterbar-notice-background: #2d383e;
    --butterbar-notice-background-rgb: 45,56,62;
    --butterbar-notice-circle: #384b55;
    --butterbar-notice-circle-rgb: 56,75,85;
    --butterbar-notice-icon: #7bb5ae;
    --butterbar-notice-icon-rgb: 123,181,174;
    --butterbar-notice-smb-background: #2d383e;
    --butterbar-notice-smb-background-rgb: 45,56,62;
    --butterbar-notice-smb-circle: #384b55;
    --butterbar-notice-smb-circle-rgb: 56,75,85;
    --butterbar-notice-smb-icon: #7bb5ae;
    --butterbar-notice-smb-icon-rgb: 123,181,174;
    --butterbar-notification-icon: #8eb2be;
    --butterbar-notification-icon-rgb: 142,178,190;
    --butterbar-primary: rgba(241,241,242,0.96);
    --butterbar-primary-rgb: 241,241,242;
    --butterbar-secondary: rgba(241,241,242,0.75);
    --butterbar-secondary-rgb: 241,241,242;
    --butterbar-update-background: #056162;
    --butterbar-update-background-rgb: 5,97,98;
    --butterbar-update-icon: #8eafaa;
    --butterbar-update-icon-rgb: 142,175,170;
    --butterbar-green-nux-primary: rgba(9,14,17,0.96);
    --butterbar-green-nux-primary-rgb: 9.3,13.74,16.7;
    --butterbar-green-nux-secondary: rgba(9,14,17,0.7);
    --butterbar-green-nux-secondary-rgb: 9.3,13.74,16.7;
    --butterbar-green-nux-background: #bbe4dd;
    --butterbar-green-nux-background-rgb: 187,228,221;
    --butterbar-green-nux-icon: #316474;
    --butterbar-green-nux-icon-rgb: 49,100,116;
    --butterbar-green-nux-icon-background: #eefefa;
    --butterbar-green-nux-icon-background-rgb: 238,254,250;
    --butterbar-green-nux-icon-dismiss: #88a6a1;
    --butterbar-green-nux-icon-dismiss-rgb: 136,166,161;
    --butterbar-blue-nux-primary: rgba(241,241,242,0.96);
    --butterbar-blue-nux-primary-rgb: 241,241,242;
    --butterbar-blue-nux-secondary: rgba(241,241,242,0.7);
    --butterbar-blue-nux-secondary-rgb: 241,241,242;
    --butterbar-blue-nux-background: #085373;
    --butterbar-blue-nux-background-rgb: 8,83,115;
    --butterbar-blue-nux-icon: #085373;
    --butterbar-blue-nux-icon-rgb: 8,83,115;
    --butterbar-blue-nux-icon-background: #8eb2be;
    --butterbar-blue-nux-icon-background-rgb: 142,178,190;
    --butterbar-blue-nux-icon-dismiss: rgba(241,241,242,0.7);
    --butterbar-blue-nux-icon-dismiss-rgb: 241,241,242;
    --butterbar-md-opt-in-countdown-icon-background: hsla(0,0%,100%,0.72);
    --butterbar-md-opt-in-countdown-icon-background-rgb: 255,255,255;
    --butterbar-md-opt-in-awareness-icon-background: hsla(0,0%,100%,0.56);
    --butterbar-md-opt-in-awareness-icon-background-rgb: 255,255,255;
    --button-alternative: #68bbe4;
    --button-alternative-rgb: 104,187,228;
    --button-alternative-background: #262d31;
    --button-alternative-background-rgb: 38,45,49;
    --button-background-disabled: #2a2f32;
    --button-background-disabled-rgb: 41.6,47.46667,50.4;
    --button-bubble: rgba(0,175,156,0.7);
    --button-bubble-rgb: 0,175,156;
    --button-plain-background: #2f3437;
    --button-plain-background-rgb: 47.1,51.86667,54.9;
    --button-primary: #131c21;
    --button-primary-rgb: 18.6,28.22,33.4;
    --button-primary-background: #00af9c;
    --button-primary-background-rgb: 0,175,156;
    --button-primary-background-hover: #00c3ae;
    --button-primary-background-hover-rgb: 0,195.4,174.18514;
    --button-round-background: #00af9c;
    --button-round-background-rgb: 0,175,156;
    --button-round-background-inverted: #2f3437;
    --button-round-background-inverted-rgb: 47.1,51.86667,54.9;
    --button-round-icon-inverted: #00af9c;
    --button-round-icon-inverted-rgb: 0,175,156;
    --button-secondary: #00af9c;
    --button-secondary-rgb: 0,175,156;
    --button-secondary-border: #242d32;
    --button-secondary-border-rgb: 36,45,50;
    --button-secondary-background: transparent;
    --button-secondary-background-rgb: 0,0,0;
    --button-secondary-background-hover: rgba(241,241,242,0.05);
    --button-secondary-background-hover-rgb: 241,241,242;
    --button-secondary-hover: #00af9c;
    --button-secondary-hover-rgb: 0,175,156;
    --cart-interstitial-background: #3a5564;
    --cart-interstitial-background-rgb: 58,85,100;
    --cart-interstitial-icon: #fff;
    --cart-interstitial-icon-rgb: 255,255,255;
    --chat-marker: #999;
    --chat-marker-rgb: 153,153,153;
    --chat-marker-admin: #00af9c;
    --chat-marker-admin-rgb: 0,175,156;
    --chat-marker-admin-border: rgba(0,175,156,0.7);
    --chat-marker-admin-border-rgb: 0,175,156;
    --chat-marker-border: hsla(0,0%,60%,0.7);
    --chat-marker-border-rgb: 153,153,153;
    --chatlist-icon: rgba(241,241,242,0.63);
    --chatlist-icon-rgb: 241,241,242;
    --checkbox-background: #00af9c;
    --checkbox-background-rgb: 0,175,156;
    --checkbox-mark: #131c21;
    --checkbox-mark-rgb: 18.6,28.22,33.4;
    --chevron-button-background: rgba(241,241,242,0.35);
    --chevron-button-background-rgb: 241,241,242;
    --chip-button-background: #374043;
    --chip-button-background-rgb: 55,64,67;
    --chip-button-foreground: #d4dadf;
    --chip-button-foreground-rgb: 212,218,223;
    --compose-input-background: #33383b;
    --compose-input-background-rgb: 51.22296,56.04619,58.67704;
    --compose-input-background-focused: #3f5560;
    --compose-input-background-focused-rgb: 63,85,96;
    --compose-input-border: #33383b;
    --compose-input-border-rgb: 51.22296,56.04619,58.67704;
    --compose-input-border-focused: #415a67;
    --compose-input-border-focused-rgb: 65,90,103;
    --compose-panel-background: #1e2428;
    --compose-panel-background-rgb: 29.591,36.36026,40.309;
    --compose-panel-background-hover: #151e23;
    --compose-panel-background-hover-rgb: 21,30,35;
    --compose-primary: #f1f1f2;
    --compose-primary-rgb: 241,241,242;
    --conversation-panel-background: #0d1418;
    --conversation-panel-background-rgb: 13.12731,19.91681,23.57269;
    --conversation-panel-border: rgba(241,241,242,0.12);
    --conversation-panel-border-rgb: 241,241,242;
    --cover-image-background: #1f2b32;
    --cover-image-background-rgb: 31,43,50;
    --danger: #ef697a;
    --danger-rgb: 239,105,122;
    --drawer-background: #131c21;
    --drawer-background-rgb: 18.6,28.22,33.4;
    --drawer-background-deep: #0d1418;
    --drawer-background-deep-rgb: 13.12731,19.91681,23.57269;
    --drawer-gallery-background: #131c21;
    --drawer-gallery-background-rgb: 18.6,28.22,33.4;
    --drawer-gallery-background-active: #0d1418;
    --drawer-gallery-background-active-rgb: 13.12731,19.91681,23.57269;
    --drawer-gallery-background-hover: #0d1418;
    --drawer-gallery-background-hover-rgb: 13.12731,19.91681,23.57269;
    --drawer-header-title: #e1e1e3;
    --drawer-header-title-rgb: 225,225,227;
    --drawer-section-background: #131c21;
    --drawer-section-background-rgb: 18.6,28.22,33.4;
    --dropdown-background: #2a2f32;
    --dropdown-background-rgb: 41.6,47.46667,50.4;
    --dropdown-background-hover: #20272b;
    --dropdown-background-hover-rgb: 31.75,39.01316,43.25;
    --empty-state-background: #20272b;
    --empty-state-background-rgb: 31.75,39.01316,43.25;
    --empty-state-icon: #777c7f;
    --empty-state-icon-rgb: 119,124,127;
    --ephemeral-nux-bubble: #00bfa5;
    --ephemeral-nux-bubble-rgb: 0,191,165;
    --ephemeral-nux-timer: #00bfa5;
    --ephemeral-nux-timer-rgb: 0,191,165;
    --focus: #68bbe4;
    --focus-rgb: 104,187,228;
    --focus-animation: rgba(104,187,228,0.26);
    --focus-animation-rgb: 104,187,228;
    --focus-animation-deeper: rgba(104,187,228,0.32);
    --focus-animation-deeper-rgb: 104,187,228;
    --focus-lighter: rgba(104,187,228,0.12);
    --focus-lighter-rgb: 104,187,228;
    --highlight: #00af9c;
    --highlight-rgb: 0,175,156;
    --icon: #828689;
    --icon-rgb: 130,134,137;
    --icon-ack: #34b7f1;
    --icon-ack-rgb: 52,183,241;
    --icon-disabled: #3f4549;
    --icon-disabled-rgb: 63,69,73;
    --icon-fixed: #828689;
    --icon-fixed-rgb: 130,134,137;
    --icon-lighter: rgba(241,241,242,0.3);
    --icon-lighter-rgb: 241,241,242;
    --icon-search-back: #73787b;
    --icon-search-back-rgb: 115,120,123;
    --icon-strong: #c5c6c8;
    --icon-strong-rgb: 197,198,200;
    --icon-bright-accent: #20c659;
    --icon-bright-accent-rgb: 32,198,89;
    --icon-bright-highlight: #00af9c;
    --icon-bright-highlight-rgb: 0,175,156;
    --incoming-background: #262d31;
    --incoming-background-rgb: 38.35,44.85526,48.65;
    --incoming-background-deeper: #20262a;
    --incoming-background-deeper-rgb: 32,38,42;
    --incoming-background-highlight: #ccc;
    --incoming-background-highlight-rgb: 204,204,204;
    --incoming-primary: #797c7e;
    --incoming-primary-rgb: 121,124,126;
    --input-border: rgba(241,241,242,0.15);
    --input-border-rgb: 241,241,242;
    --input-border-active: #00af9c;
    --input-border-active-rgb: 0,175,156;
    --input-placeholder: rgba(241,241,242,0.43);
    --input-placeholder-rgb: 241,241,242;
    --intro-background: #262d31;
    --intro-background-rgb: 38.35,44.85526,48.65;
    --intro-border: #056162;
    --intro-border-rgb: 5,97,98;
    --intro-logo: rgba(241,241,242,0.26);
    --intro-logo-rgb: 241,241,242;
    --intro-secondary: #a6a8aa;
    --intro-secondary-rgb: 166,168,170;
    --inverse: #f1f1f2;
    --inverse-rgb: 241,241,242;
    --labels-icon: rgba(241,241,242,0.4);
    --labels-icon-rgb: 241,241,242;
    --label-disabled-text: #999;
    --label-disabled-text-rgb: 153,153,153;
    --link: #68bbe4;
    --link-rgb: 104,187,228;
    --link-alt: #009688;
    --link-alt-rgb: 0,150,136;
    --link-preview: rgba(241,241,242,0.87);
    --link-preview-rgb: 241,241,242;
    --link-preview-light: rgba(241,241,242,0.3);
    --link-preview-light-rgb: 241,241,242;
    --link-preview-lighter: rgba(241,241,242,0.6);
    --link-preview-lighter-rgb: 241,241,242;
    --live-location-footer-background: rgba(19,28,33,0.9);
    --live-location-footer-background-rgb: 18.6,28.22,33.4;
    --live-location-glow: rgba(37,211,102,0.3);
    --live-location-glow-rgb: 37,211,102;
    --live-location-glow-stale: rgba(255,0,31,0.3);
    --live-location-glow-stale-rgb: 255,0,31;
    --location-cluster-background: #131c21;
    --location-cluster-background-rgb: 18.6,28.22,33.4;
    --map-overlay-background: rgba(19,28,33,0.6);
    --map-overlay-background-rgb: 18.6,28.22,33.4;
    --map-overlay-foreground: #f1f1f2;
    --map-overlay-foreground-rgb: 241,241,242;
    --media-editor-control: #fff;
    --media-editor-control-rgb: 255,255,255;
    --media-editor-image-caption-input-background: #323739;
    --media-editor-image-caption-input-background-rgb: 49.815,54.58382,57.185;
    --media-editor-video-caption-input-background: #323739;
    --media-editor-video-caption-input-background-rgb: 49.815,54.58382,57.185;
    --media-editor-icon-color: #b1b3b5;
    --media-editor-icon-color-rgb: 177,179,181;
    --media-editor-icon-secondary-color: #131c21;
    --media-editor-icon-secondary-color-rgb: 18.6,28.22,33.4;
    --media-editor-thumb-border: rgba(241,241,242,0.1);
    --media-editor-thumb-border-rgb: 241,241,242;
    --media-editor-thumb-border-active: #00af9c;
    --media-editor-thumb-border-active-rgb: 0,175,156;
    --media-inner-border: hsla(0,0%,100%,0.1);
    --media-inner-border-rgb: 255,255,255;
    --media-viewer-background: rgba(19,28,33,0.98);
    --media-viewer-background-rgb: 18.6,28.22,33.4;
    --media-viewer-button-background: #262d31;
    --media-viewer-button-background-rgb: 38.35,44.85526,48.65;
    --media-viewer-button-icon: #f1f1f2;
    --media-viewer-button-icon-rgb: 241,241,242;
    --menu-context-sticker-icon: rgba(241,241,242,0.5);
    --menu-context-sticker-icon-rgb: 241,241,242;
    --menu-context-sticker-icon-inverse: rgba(48,48,48,0.5);
    --menu-context-sticker-icon-inverse-rgb: 48,48,48;
    --menu-tabs-list-active: #00af9c;
    --menu-tabs-list-active-rgb: 0,175,156;
    --message-background-deep: rgba(9,14,17,0.35);
    --message-background-deep-rgb: 9.3,13.74,16.7;
    --message-placeholder-icon: hsla(0,0%,80%,0.3);
    --message-placeholder-icon-rgb: 204,204,204;
    --message-primary: rgba(241,241,242,0.95);
    --message-primary-rgb: 241,241,242;
    --message-selection-highlight: rgba(241,241,242,0.05);
    --message-selection-highlight-rgb: 241,241,242;
    --modal-backdrop: rgba(9,14,17,0.85);
    --modal-backdrop-rgb: 9.3,13.74,16.7;
    --modal-backdrop-solid: #20272b;
    --modal-backdrop-solid-rgb: 31.75,39.01316,43.25;
    --modal-background: #3b4042;
    --modal-background-rgb: 59,63.52941,66;
    --notification-biz-background: #20272b;
    --notification-biz-background-rgb: 31.75,39.01316,43.25;
    --notification-biz-text: #55fad9;
    --notification-biz-text-rgb: 85,250,217;
    --notification-e2e-background: #20272b;
    --notification-e2e-background-rgb: 31.75,39.01316,43.25;
    --notification-e2e-icon: #fad964;
    --notification-e2e-icon-rgb: 250,217,100;
    --notification-e2e-text: #fad964;
    --notification-e2e-text-rgb: 250,217,100;
    --notification-info-icon: #55fad9;
    --notification-info-icon-rgb: 85,250,217;
    --notification-non-e2e-background: #1d282e;
    --notification-non-e2e-background-rgb: 29,40,46;
    --notification-non-e2e-text: #42c7b8;
    --notification-non-e2e-text-rgb: 66,199,184;
    --notification-text: rgba(241,241,242,0.4);
    --notification-text-rgb: 241,241,242;
    --outgoing-background: #056162;
    --outgoing-background-rgb: 5,97,98;
    --outgoing-background-deeper: #065051;
    --outgoing-background-deeper-rgb: 6,80,81;
    --outgoing-background-highlight: #ccc;
    --outgoing-background-highlight-rgb: 204,204,204;
    --overlay: #090e11;
    --overlay-rgb: 9.3,13.74,16.7;
    --panel-background: #20272b;
    --panel-background-rgb: 31.75,39.01316,43.25;
    --panel-background-active: #1e2529;
    --panel-background-active-rgb: 30,37,41;
    --panel-background-colored: #323739;
    --panel-background-colored-rgb: 49.815,54.58382,57.185;
    --panel-background-colored-deeper: #323739;
    --panel-background-colored-deeper-rgb: 49.815,54.58382,57.185;
    --panel-background-deep: #191f23;
    --panel-background-deep-rgb: 25,31,35;
    --panel-background-deeper: #1e2429;
    --panel-background-deeper-rgb: 30,36,41;
    --panel-background-hover: #1e2429;
    --panel-background-hover-rgb: 30,36,41;
    --panel-background-lighter: #1e2429;
    --panel-background-lighter-rgb: 30,36,41;
    --panel-header-background: #2a2f32;
    --panel-header-background-rgb: 41.6,47.46667,50.4;
    --panel-header-icon: #b1b3b5;
    --panel-header-icon-rgb: 177,179,181;
    --panel-input-background: #262d31;
    --panel-input-background-rgb: 38.35,44.85526,48.65;
    --panel-primary: rgba(241,241,242,0.35);
    --panel-primary-rgb: 241,241,242;
    --payment-amount: #00a593;
    --payment-amount-rgb: 0,164.8,146.90743;
    --payment-status-failed: #ef697a;
    --payment-status-failed-rgb: 239,105,122;
    --payment-status-pending: rgba(241,241,242,0.45);
    --payment-status-pending-rgb: 241,241,242;
    --payment-status-success: #40cf6c;
    --payment-status-success-rgb: 64,207,108;
    --photopicker-overlay-background: rgba(35,43,47,0.8);
    --photopicker-overlay-background-rgb: 35,43,47;
    --picker-background: #2a2f32;
    --picker-background-rgb: 41.6,47.46667,50.4;
    --pip-drag-bar: #fff;
    --pip-drag-bar-rgb: 255,255,255;
    --pip-manager-content: rgba(44,58,66,0.85);
    --pip-manager-content-rgb: 44,58,66;
    --popup-panel-background: #131c21;
    --popup-panel-background-rgb: 18.6,28.22,33.4;
    --primary-muted: grey;
    --primary-muted-rgb: 128,128,128;
    --primary: #d4d5d7;
    --primary-rgb: 212,213,215;
    --primary-strong: rgba(241,241,242,0.92);
    --primary-strong-rgb: 241,241,242;
    --primary-stronger: rgba(241,241,242,0.88);
    --primary-stronger-rgb: 241,241,242;
    --primary-strongest: #fff;
    --primary-strongest-rgb: 255,255,255;
    --primary-title: rgba(241,241,242,0.88);
    --primary-title-rgb: 241,241,242;
    --product-image-button-background: rgba(9,14,17,0.35);
    --product-image-button-background-rgb: 9.3,13.74,16.7;
    --product-placeholder-background: rgba(9,14,17,0.35);
    --product-placeholder-background-rgb: 9.3,13.74,16.7;
    --product-thumb-background: #20272b;
    --product-thumb-background-rgb: 31.75,39.01316,43.25;
    --product-thumb-background-deeper: #313c43;
    --product-thumb-background-deeper-rgb: 49.022,60.23632,66.778;
    --product-thumb-overlay-background: rgba(0,0,0,0.5);
    --product-thumb-overlay-background-rgb: 0,0,0;
    --product-thumb-overlay-text: #f1f1f2;
    --product-thumb-overlay-text-rgb: 241,241,242;
    --progress-background: #2a2f32;
    --progress-background-rgb: 41.6,47.46667,50.4;
    --progress-primary: #0c897c;
    --progress-primary-rgb: 12,137,124;
    --ptt-blue: #34b7f1;
    --ptt-blue-rgb: 52,183,241;
    --ptt-button-cancel: #ef697a;
    --ptt-button-cancel-rgb: 239,105,122;
    --ptt-button-send: #40cf6c;
    --ptt-button-send-rgb: 64,207,108;
    --ptt-draft-button-cancel: #8696a0;
    --ptt-draft-button-cancel-rgb: 134,150,160;
    --ptt-draft-button-cancel-hover: #91a0a9;
    --ptt-draft-button-cancel-hover-rgb: 145.42778,159.91667,168.97222;
    --ptt-draft-button-play-pause: #e9edef;
    --ptt-draft-button-play-pause-rgb: 233,237,239;
    --ptt-draft-button-play-pause-hover: #f5f7f8;
    --ptt-draft-button-play-pause-hover-rgb: 244.81053,246.66316,247.58947;
    --ptt-draft-button-stop: #ff3b30;
    --ptt-draft-button-stop-rgb: 255,59,48;
    --ptt-draft-button-stop-hover: #ff4e44;
    --ptt-draft-button-stop-hover-rgb: 255,78.31594,68.4;
    --ptt-draft-button-send: #00af9c;
    --ptt-draft-button-send-rgb: 0,175,156;
    --ptt-draft-button-send-hover: #00c3ae;
    --ptt-draft-button-send-hover-rgb: 0,195.4,174.18514;
    --ptt-draft-thumb: #f1f1f2;
    --ptt-draft-thumb-rgb: 241,241,242;
    --ptt-thumb-outgoing-unplayed: #d1d7db;
    --ptt-thumb-outgoing-unplayed-rgb: 209,215,219;
    --ptt-thumb-outgoing-played: #34b7f1;
    --ptt-thumb-outgoing-played-rgb: 52,183,241;
    --ptt-thumb-incoming-unplayed: #09d261;
    --ptt-thumb-incoming-unplayed-rgb: 9,210,97;
    --ptt-thumb-incoming-played: #34b7f1;
    --ptt-thumb-incoming-played-rgb: 52,183,241;
    --ptt-draft-waveform-background: #3b4042;
    --ptt-draft-waveform-background-rgb: 59,63.52941,66;
    --ptt-draft-waveform-background-border: #131c21;
    --ptt-draft-waveform-background-border-rgb: 18.6,28.22,33.4;
    --ptt-waveform-preview-unplayed: #626668;
    --ptt-waveform-preview-unplayed-rgb: 98,102,104;
    --ptt-waveform-incoming-unplayed: #676c6f;
    --ptt-waveform-incoming-unplayed-rgb: 103,108,111;
    --ptt-waveform-outgoing-unplayed: #509091;
    --ptt-waveform-outgoing-unplayed-rgb: 80,144,145;
    --ptt-waveform-preview-played: #b1b2b3;
    --ptt-waveform-preview-played-rgb: 177,178,179;
    --ptt-waveform-incoming-played: #a8abac;
    --ptt-waveform-incoming-played-rgb: 168,171,172;
    --ptt-waveform-outgoing-played: #9bc0c0;
    --ptt-waveform-outgoing-played-rgb: 155,192,192;
    --ptt-gray: rgba(241,241,242,0.4);
    --ptt-gray-rgb: 241,241,242;
    --ptt-gray-badge: rgba(0,0,0,0.4);
    --ptt-gray-badge-rgb: 0,0,0;
    --ptt-green: #09d261;
    --ptt-green-rgb: 9,210,97;
    --ptt-message-blue: #68bbe4;
    --ptt-message-blue-rgb: 104,187,228;
    --ptt-text: #f1f1f2;
    --ptt-text-rgb: 241,241,242;
    --quick-action-button: rgba(241,241,242,0.5);
    --quick-action-button-rgb: 241,241,242;
    --quick-action-button-background: rgba(9,14,17,0.6);
    --quick-action-button-background-rgb: 9.3,13.74,16.7;
    --rich-text-panel-background: #1e2428;
    --rich-text-panel-background-rgb: 29.591,36.36026,40.309;
    --search-container-background: #131c21;
    --search-container-background-rgb: 18.6,28.22,33.4;
    --search-input-background: #323739;
    --search-input-background-rgb: 49.815,54.58382,57.185;
    --secondary: rgba(241,241,242,0.63);
    --secondary-rgb: 241,241,242;
    --secondary-light: rgba(241,241,242,0.25);
    --secondary-light-rgb: 241,241,242;
    --secondary-lighter: rgba(241,241,242,0.45);
    --secondary-lighter-rgb: 241,241,242;
    --secondary-stronger: rgba(241,241,242,0.8);
    --secondary-stronger-rgb: 241,241,242;
    --security-icon-background: #d3ede6;
    --security-icon-background-rgb: 211,237,230;
    --security-icon-lock: #1fc4b1;
    --security-icon-lock-rgb: 31,196,177;
    --security-icon-shield: #f0faf7;
    --security-icon-shield-rgb: 240,250,247;
    --shadow: #000;
    --shadow-rgb: 0,0,0;
    --shadow-light: rgba(0,0,0,0.08);
    --shadow-light-rgb: 0,0,0;
    --spinner-default: #75787a;
    --spinner-default-rgb: 117,120,122;
    --spinner-highlight: #00af9c;
    --spinner-highlight-rgb: 0,175,156;
    --spinner-incoming: #63686b;
    --spinner-incoming-rgb: 99,104,107;
    --spinner-outgoing: #4c8c8d;
    --spinner-outgoing-rgb: 76,140,141;
    --startup-background: #131c21;
    --startup-background-rgb: 18.6,28.22,33.4;
    --startup-icon: #6c7175;
    --startup-icon-rgb: 108,113,117;
    --status-background: #000;
    --status-background-rgb: 0,0,0;
    --status-background-hover: #242424;
    --status-background-hover-rgb: 36,36,36;
    --status-primary: #fff;
    --status-primary-rgb: 255,255,255;
    --status-secondary: hsla(0,0%,100%,0.55);
    --status-secondary-rgb: 255,255,255;
    --status-secondary-stronger: #b3b3b3;
    --status-secondary-stronger-rgb: 179,179,179;
    --status-ring-read: #bbbec4;
    --status-ring-read-rgb: 187,190,196;
    --status-thumbnail-background: #777;
    --status-thumbnail-background-rgb: 119,119,119;
    --success: #00af9c;
    --success-rgb: 0,175,156;
    --suspicious-background: rgba(239,105,122,0.8);
    --suspicious-background-rgb: 239,105,122;
    --system-message-background: #1e2a30;
    --system-message-background-rgb: 30,42,48;
    --system-message-text: rgba(241,241,242,0.92);
    --system-message-text-rgb: 241,241,242;
    --teal-hover: #00b7a1;
    --teal-hover-rgb: 0,183,161;
    --teal-pale: #5fc8bc;
    --teal-pale-rgb: 95,200,188;
    --thumb-border-active: #75787a;
    --thumb-border-active-rgb: 117,120,122;
    --thumb-border-viewer-active: #75787a;
    --thumb-border-viewer-active-rgb: 117,120,122;
    --toast-background: rgba(9,14,17,0.96);
    --toast-background-rgb: 9.3,13.74,16.7;
    --tooltip-text: #000;
    --tooltip-text-rgb: 0,0,0;
    --tooltip-background: #fff;
    --tooltip-background-rgb: 255,255,255;
    --typing: #00af9c;
    --typing-rgb: 0,175,156;
    --unread-background: #20272b;
    --unread-background-rgb: 31.75,39.01316,43.25;
    --unread-bar-background: rgba(9,14,17,0.6);
    --unread-bar-background-rgb: 9.3,13.74,16.7;
    --unread-marker-background: #00af9c;
    --unread-marker-background-rgb: 0,175,156;
    --unread-marker-text: #131c21;
    --unread-marker-text-rgb: 18.6,28.22,33.4;
    --vcard-placeholder-background: rgba(241,241,242,0.04);
    --vcard-placeholder-background-rgb: 241,241,242;
    --vcard-placeholder-background-deeper: rgba(241,241,242,0.12);
    --vcard-placeholder-background-deeper-rgb: 241,241,242;
    --video-player-background: #000;
    --video-player-background-rgb: 0,0,0;
    --pip-player-background: #2a2f32;
    --pip-player-background-rgb: 41.6,47.46667,50.4;
    --video-primary: #fff;
    --video-primary-rgb: 255,255,255;
    --voip-accept-background: #2ec452;
    --voip-accept-background-rgb: 46,196,82;
    --voip-background: #262626;
    --voip-background-rgb: 38,38,38;
    --voip-background-deep: #000;
    --voip-background-deep-rgb: 0,0,0;
    --voip-video-background: #242424;
    --voip-video-background-rgb: 36,36,36;
    --voip-controls-background: #2d2d2d;
    --voip-controls-background-rgb: 45,45,45;
    --voip-primary: #fff;
    --voip-primary-rgb: 255,255,255;
    --voip-alternative: #000;
    --voip-alternative-rgb: 0,0,0;
    --voip-reject-background: #ff3b30;
    --voip-reject-background-rgb: 255,59,48;
    --voip-disabled-background: #222;
    --voip-disabled-background-rgb: 34,34,34;
    --wallpaper-background: #0d1418;
    --wallpaper-background-rgb: 13.12731,19.91681,23.57269;
    --wallpaper-thumb-border-active: #75787a;
    --wallpaper-thumb-border-active-rgb: 117,120,122;
    --wallpaper-thumb-border-hover: #3b4042;
    --wallpaper-thumb-border-hover-rgb: 59,63.52941,66;
    --win32-title-primary: #fff;
    --win32-title-primary-rgb: 255,255,255;
    --reactions-bubble-border: #111b21;
    --reactions-bubble-border-rgb: 17,27,33;
    --reactions-bubble-counter: rgba(241,241,242,0.6);
    --reactions-bubble-counter-rgb: 241,241,242;
}