/* Using dark class for dark mode */
.dark {
    --active-tab-marker: #00af9c;
    --active-tab-marker-rgb: 0,175,156;
    --app-background: #090e11;
    --app-background-rgb: 9.3,13.74,16.7;
    --app-background-deeper: #090e11;
    --app-background-deeper-rgb: 9.3,13.74,16.7;
    --app-background-stripe: transparent;
    --app-background-stripe-rgb: 0,0,0;
    --attach-media-drop-border: rgba(241,241,242,0.2);
    --attach-media-drop-border-rgb: 241,241,242;
    --attach-media-drop-overlay: rgba(56,61,63,0.3);
    --attach-media-drop-overlay-rgb: 55.76,60.6,63.24;
    --audio-control-incoming: #848488;
    --audio-control-incoming-rgb: 132,132,136;
    --audio-control-outgoing: #d1d7db;
    --audio-control-outgoing-rgb: 209,215,219;
    --audio-progress-incoming: #3cb362;
    --audio-progress-incoming-rgb: 60,179,98;
    --audio-progress-outgoing: #5f9899;
    --audio-progress-outgoing-rgb: 95,152,153;
    --audio-progress-played-incoming: #5ca0c2;
    --audio-progress-played-incoming-rgb: 92,160,194;
    --audio-progress-played-outgoing: #55aacb;
    --audio-progress-played-outgoing-rgb: 85,170,203;
    --audio-track-incoming: #3b4044;
    --audio-track-incoming-rgb: 59,64,68;
    --audio-track-outgoing: #1d6f70;
    --audio-track-outgoing-rgb: 29,111,112;
    --avatar-background: #131c21;
    --avatar-background-rgb: 18.6,28.22,33.4;
    --avatar-border: #a5aaad;
    --avatar-border-rgb: 165,170,173;
    --avatar-placeholder-background: #6e7377;
    --avatar-placeholder-background-rgb: 110,115,119;
    --avatar-placeholder-primary: #d6d7d9;
    --avatar-placeholder-primary-rgb: 214,215,217;
    --background-default: #131c21;
    --background-default-rgb: 18.6,28.22,33.4;
    --background-default-active: #323739;
    --background-default-active-rgb: 49.815,54.58382,57.185;
    --background-default-hover: #2d3134;
    --background-default-hover-rgb: 44.745,49.27333,52.155;
    --badge-border: #d4d5d7;
    --badge-border-rgb: 212,213,215;
    --badge-pending: #009688;
    --badge-pending-rgb: 0,150,136;
    --beta-tag-background: #364147;
    --beta-tag-background-rgb: 54,65,71;
    --border-bubble: rgba(241,241,242,0.12);
    --border-bubble-rgb: 241,241,242;
    --border-default: #242d32;
    --border-default-rgb: 36,45,50;
    --border-list: #30383d;
    --border-list-rgb: 48,56,61;
    --border-panel: #30373b;
    --border-panel-rgb: 48,55,59;
    --border-strong: #3b4347;
    --border-strong-rgb: 59,67,71;
    --border-stronger: rgba(241,241,242,0.11);
    --border-stronger-rgb: 241,241,242;
    --bubble-meta: rgba(241,241,242,0.63);
    --bubble-meta-rgb: 241,241,242;
    --bubble-meta-icon: rgba(241,241,242,0.63);
    --bubble-meta-icon-rgb: 241,241,242;
    --business-name-title: #d4d5d7;
    --business-name-title-rgb: 212,213,215;
    --business-name-subtitle: #b3b3b3;
    --business-name-subtitle-rgb: 179,179,179;
    --butterbar-battery-background: #a7494c;
    --butterbar-battery-background-rgb: 167,73,76;
    --butterbar-battery-icon: #f5d6d7;
    --butterbar-battery-icon-rgb: 245,214,215;
    --butterbar-battery-primary: rgba(241,241,242,0.96);
    --butterbar-battery-primary-rgb: 241,241,242;
    --butterbar-battery-secondary: rgba(241,241,242,0.75);
    --butterbar-battery-secondary-rgb: 241,241,242;
    --butterbar-connection-background: #d7a53b;
    --butterbar-connection-background-rgb: 215,165,59;
    --butterbar-connection-primary: rgba(9,14,17,0.96);
    --butterbar-connection-primary-rgb: 9.3,13.74,16.7;
    --butterbar-connection-secondary: rgba(9,14,17,0.75);
    --butterbar-connection-secondary-rgb: 9.3,13.74,16.7;
    --butterbar-default-background: #085373;
    --butterbar-default-background-rgb: 8,83,115;
    --butterbar-fatal-background: #d7a53b;
    --butterbar-fatal-background-rgb: 215,165,59;
    --butterbar-fatal-primary: rgba(9,14,17,0.96);
    --butterbar-fatal-primary-rgb: 9.3,13.74,16.7;
    --butterbar-fatal-secondary: rgba(9,14,17,0.75);
    --butterbar-fatal-secondary-rgb: 9.3,13.74,16.7;
    --butterbar-icon: rgba(241,241,242,0.8);
    --butterbar-icon-rgb: 241,241,242;
    --butterbar-notice-background: #2d383e;
    --butterbar-notice-background-rgb: 45,56,62;
    --butterbar-notice-circle: #384b55;
    --butterbar-notice-circle-rgb: 56,75,85;
    --butterbar-notice-icon: #7bb5ae;
    --butterbar-notice-icon-rgb: 123,181,174;
    --butterbar-notice-smb-background: #2d383e;
    --butterbar-notice-smb-background-rgb: 45,56,62;
    --butterbar-notice-smb-circle: #384b55;
    --butterbar-notice-smb-circle-rgb: 56,75,85;
    --butterbar-notice-smb-icon: #7bb5ae;
    --butterbar-notice-smb-icon-rgb: 123,181,174;
    --butterbar-notification-icon: #8eb2be;
    --butterbar-notification-icon-rgb: 142,178,190;
    --butterbar-primary: rgba(241,241,242,0.96);
    --butterbar-primary-rgb: 241,241,242;
    --butterbar-secondary: rgba(241,241,242,0.75);
    --butterbar-secondary-rgb: 241,241,242;
    --butterbar-update-background: #056162;
    --butterbar-update-background-rgb: 5,97,98;
    --butterbar-update-icon: #8eafaa;
    --butterbar-update-icon-rgb: 142,175,170;
    --butterbar-green-nux-primary: rgba(9,14,17,0.96);
    --butterbar-green-nux-primary-rgb: 9.3,13.74,16.7;
    --butterbar-green-nux-secondary: rgba(9,14,17,0.7);
    --butterbar-green-nux-secondary-rgb: 9.3,13.74,16.7;
    --butterbar-green-nux-background: #bbe4dd;
    --butterbar-green-nux-background-rgb: 187,228,221;
    --butterbar-green-nux-icon: #316474;
    --butterbar-green-nux-icon-rgb: 49,100,116;
    --butterbar-green-nux-icon-background: #eefefa;
    --butterbar-green-nux-icon-background-rgb: 238,254,250;
    --butterbar-green-nux-icon-dismiss: #88a6a1;
    --butterbar-green-nux-icon-dismiss-rgb: 136,166,161;
    --butterbar-blue-nux-primary: rgba(241,241,242,0.96);
    --butterbar-blue-nux-primary-rgb: 241,241,242;
    --butterbar-blue-nux-secondary: rgba(241,241,242,0.7);
    --butterbar-blue-nux-secondary-rgb: 241,241,242;
    --butterbar-blue-nux-background: #085373;
    --butterbar-blue-nux-background-rgb: 8,83,115;
    --butterbar-blue-nux-icon: #085373;
    --butterbar-blue-nux-icon-rgb: 8,83,115;
    --butterbar-blue-nux-icon-background: #8eb2be;
    --butterbar-blue-nux-icon-background-rgb: 142,178,190;
    --butterbar-blue-nux-icon-dismiss: rgba(241,241,242,0.7);
    --butterbar-blue-nux-icon-dismiss-rgb: 241,241,242;
    --butterbar-md-opt-in-countdown-icon-background: hsla(0,0%,100%,0.72);
    --butterbar-md-opt-in-countdown-icon-background-rgb: 255,255,255;
    --butterbar-md-opt-in-awareness-icon-background: hsla(0,0%,100%,0.56);
    --butterbar-md-opt-in-awareness-icon-background-rgb: 255,255,255;
    --button-alternative: #68bbe4;
    --button-alternative-rgb: 104,187,228;
    --button-alternative-background: #262d31;
    --button-alternative-background-rgb: 38,45,49;
    --button-background-disabled: #2a2f32;
    --button-background-disabled-rgb: 41.6,47.46667,50.4;
    --button-bubble: rgba(0,175,156,0.7);
    --button-bubble-rgb: 0,175,156;
    --button-plain-background: #2f3437;
    --button-plain-background-rgb: 47.1,51.86667,54.9;
    --button-primary: #131c21;
    --button-primary-rgb: 18.6,28.22,33.4;
    --button-primary-background: #00af9c;
    --button-primary-background-rgb: 0,175,156;
    --button-primary-background-hover: #00c3ae;
    --button-primary-background-hover-rgb: 0,195.4,174.18514;
    --button-round-background: #00af9c;
    --button-round-background-rgb: 0,175,156;
    --button-round-background-inverted: #2f3437;
    --button-round-background-inverted-rgb: 47.1,51.86667,54.9;
    --button-round-icon-inverted: #00af9c;
    --button-round-icon-inverted-rgb: 0,175,156;
    --button-secondary: #00af9c;
    --button-secondary-rgb: 0,175,156;
    --button-secondary-border: #242d32;
    --button-secondary-border-rgb: 36,45,50;
    --button-secondary-background: transparent;
    --button-secondary-background-rgb: 0,0,0;
    --button-secondary-background-hover: rgba(241,241,242,0.05);
    --button-secondary-background-hover-rgb: 241,241,242;
    --button-secondary-hover: #00af9c;
    --button-secondary-hover-rgb: 0,175,156;
    --cart-interstitial-background: #3a5564;
    --cart-interstitial-background-rgb: 58,85,100;
    --cart-interstitial-icon: #fff;
    --cart-interstitial-icon-rgb: 255,255,255;
    --chat-marker: #999;
    --chat-marker-rgb: 153,153,153;
    --chat-marker-admin: #00af9c;
    --chat-marker-admin-rgb: 0,175,156;
    --chat-marker-admin-border: rgba(0,175,156,0.7);
    --chat-marker-admin-border-rgb: 0,175,156;
    --chat-marker-border: hsla(0,0%,60%,0.7);
    --chat-marker-border-rgb: 153,153,153;
    --chatlist-icon: rgba(241,241,242,0.63);
    --chatlist-icon-rgb: 241,241,242;
    --checkbox-background: #00af9c;
    --checkbox-background-rgb: 0,175,156;
    --checkbox-mark: #131c21;
    --checkbox-mark-rgb: 18.6,28.22,33.4;
    --chevron-button-background: rgba(241,241,242,0.35);
    --chevron-button-background-rgb: 241,241,242;
    --chip-button-background: #374043;
    --chip-button-background-rgb: 55,64,67;
    --chip-button-foreground: #d4dadf;
    --chip-button-foreground-rgb: 212,218,223;
    --compose-input-background: #33383b;
    --compose-input-background-rgb: 51.22296,56.04619,58.67704;
    --compose-input-background-focused: #3f5560;
    --compose-input-background-focused-rgb: 63,85,96;
    --compose-input-border: #33383b;
    --compose-input-border-rgb: 51.22296,56.04619,58.67704;
    --compose-input-border-focused: #415a67;
    --compose-input-border-focused-rgb: 65,90,103;
    --compose-panel-background: #1e2428;
    --compose-panel-background-rgb: 29.591,36.36026,40.309;
    --compose-panel-background-hover: #151e23;
    --compose-panel-background-hover-rgb: 21,30,35;
    --compose-primary: #f1f1f2;
    --compose-primary-rgb: 241,241,242;
    --conversation-panel-background: #0d1418;
    --conversation-panel-background-rgb: 13.12731,19.91681,23.57269;
    --conversation-panel-border: rgba(241,241,242,0.12);
    --conversation-panel-border-rgb: 241,241,242;
    --cover-image-background: #1f2b32;
    --cover-image-background-rgb: 31,43,50;
    --danger: #ef697a;
    --danger-rgb: 239,105,122;
    --drawer-background: #131c21;
    --drawer-background-rgb: 18.6,28.22,33.4;
    --drawer-background-deep: #0d1418;
    --drawer-background-deep-rgb: 13.12731,19.91681,23.57269;
    --drawer-gallery-background: #131c21;
    --drawer-gallery-background-rgb: 18.6,28.22,33.4;
    --drawer-gallery-background-active: #0d1418;
    --drawer-gallery-background-active-rgb: 13.12731,19.91681,23.57269;
    --drawer-gallery-background-hover: #0d1418;
    --drawer-gallery-background-hover-rgb: 13.12731,19.91681,23.57269;
    --drawer-header-title: #e1e1e3;
    --drawer-header-title-rgb: 225,225,227;
    --drawer-section-background: #131c21;
    --drawer-section-background-rgb: 18.6,28.22,33.4;
    --dropdown-background: #2a2f32;
    --dropdown-background-rgb: 41.6,47.46667,50.4;
    --dropdown-background-hover: #20272b;
    --dropdown-background-hover-rgb: 31.75,39.01316,43.25;
    --empty-state-background: #20272b;
    --empty-state-background-rgb: 31.75,39.01316,43.25;
    --empty-state-icon: #777c7f;
    --empty-state-icon-rgb: 119,124,127;
    --ephemeral-nux-bubble: #00bfa5;
    --ephemeral-nux-bubble-rgb: 0,191,165;
    --ephemeral-nux-timer: #00bfa5;
    --ephemeral-nux-timer-rgb: 0,191,165;
    --focus: #68bbe4;
    --focus-rgb: 104,187,228;
    --focus-animation: rgba(104,187,228,0.26);
    --focus-animation-rgb: 104,187,228;
    --focus-animation-deeper: rgba(104,187,228,0.32);
    --focus-animation-deeper-rgb: 104,187,228;
    --focus-lighter: rgba(104,187,228,0.12);
    --focus-lighter-rgb: 104,187,228;
    --highlight: #00af9c;
    --highlight-rgb: 0,175,156;
    --icon: #828689;
    --icon-rgb: 130,134,137;
    --icon-ack: #34b7f1;
    --icon-ack-rgb: 52,183,241;
    --icon-disabled: #3f4549;
    --icon-disabled-rgb: 63,69,73;
    --icon-fixed: #828689;
    --icon-fixed-rgb: 130,134,137;
    --icon-lighter: rgba(241,241,242,0.3);
    --icon-lighter-rgb: 241,241,242;
    --icon-search-back: #73787b;
    --icon-search-back-rgb: 115,120,123;
    --icon-strong: #c5c6c8;
    --icon-strong-rgb: 197,198,200;
    --icon-bright-accent: #20c659;
    --icon-bright-accent-rgb: 32,198,89;
    --icon-bright-highlight: #00af9c;
    --icon-bright-highlight-rgb: 0,175,156;
    --incoming-background: #262d31;
    --incoming-background-rgb: 38.35,44.85526,48.65;
    --incoming-background-deeper: #20262a;
    --incoming-background-deeper-rgb: 32,38,42;
    --incoming-background-highlight: #ccc;
    --incoming-background-highlight-rgb: 204,204,204;
    --incoming-primary: #797c7e;
    --incoming-primary-rgb: 121,124,126;
    --input-border: rgba(241,241,242,0.15);
    --input-border-rgb: 241,241,242;
    --input-border-active: #00af9c;
    --input-border-active-rgb: 0,175,156;
    --input-placeholder: rgba(241,241,242,0.43);
    --input-placeholder-rgb: 241,241,242;
    --intro-background: #262d31;
    --intro-background-rgb: 38.35,44.85526,48.65;
    --intro-border: #056162;
    --intro-border-rgb: 5,97,98;
    --intro-logo: rgba(241,241,242,0.26);
    --intro-logo-rgb: 241,241,242;
    --intro-secondary: #a6a8aa;
    --intro-secondary-rgb: 166,168,170;
    --inverse: #f1f1f2;
    --inverse-rgb: 241,241,242;
    --labels-icon: rgba(241,241,242,0.4);
    --labels-icon-rgb: 241,241,242;
    --label-disabled-text: #999;
    --label-disabled-text-rgb: 153,153,153;
    --link: #68bbe4;
    --link-rgb: 104,187,228;
    --link-alt: #009688;
    --link-alt-rgb: 0,150,136;
    --link-preview: rgba(241,241,242,0.87);
    --link-preview-rgb: 241,241,242;
    --link-preview-light: rgba(241,241,242,0.3);
    --link-preview-light-rgb: 241,241,242;
    --link-preview-lighter: rgba(241,241,242,0.6);
    --link-preview-lighter-rgb: 241,241,242;
    --live-location-footer-background: rgba(19,28,33,0.9);
    --live-location-footer-background-rgb: 18.6,28.22,33.4;
    --live-location-glow: rgba(37,211,102,0.3);
    --live-location-glow-rgb: 37,211,102;
    --live-location-glow-stale: rgba(255,0,31,0.3);
    --live-location-glow-stale-rgb: 255,0,31;
    --location-cluster-background: #131c21;
    --location-cluster-background-rgb: 18.6,28.22,33.4;
    --map-overlay-background: rgba(19,28,33,0.6);
    --map-overlay-background-rgb: 18.6,28.22,33.4;
    --map-overlay-foreground: #f1f1f2;
    --map-overlay-foreground-rgb: 241,241,242;
    --media-editor-control: #fff;
    --media-editor-control-rgb: 255,255,255;
    --media-editor-image-caption-input-background: #323739;
    --media-editor-image-caption-input-background-rgb: 49.815,54.58382,57.185;
    --media-editor-video-caption-input-background: #323739;
    --media-editor-video-caption-input-background-rgb: 49.815,54.58382,57.185;
    --media-editor-icon-color: #b1b3b5;
    --media-editor-icon-color-rgb: 177,179,181;
    --media-editor-icon-secondary-color: #131c21;
    --media-editor-icon-secondary-color-rgb: 18.6,28.22,33.4;
    --media-editor-thumb-border: rgba(241,241,242,0.1);
    --media-editor-thumb-border-rgb: 241,241,242;
    --media-editor-thumb-border-active: #00af9c;
    --media-editor-thumb-border-active-rgb: 0,175,156;
    --media-inner-border: hsla(0,0%,100%,0.1);
    --media-inner-border-rgb: 255,255,255;
    --media-viewer-background: rgba(19,28,33,0.98);
    --media-viewer-background-rgb: 18.6,28.22,33.4;
    --media-viewer-button-background: #262d31;
    --media-viewer-button-background-rgb: 38.35,44.85526,48.65;
    --media-viewer-button-icon: #f1f1f2;
    --media-viewer-button-icon-rgb: 241,241,242;
    --menu-context-sticker-icon: rgba(241,241,242,0.5);
    --menu-context-sticker-icon-rgb: 241,241,242;
    --menu-context-sticker-icon-inverse: rgba(48,48,48,0.5);
    --menu-context-sticker-icon-inverse-rgb: 48,48,48;
    --menu-tabs-list-active: #00af9c;
    --menu-tabs-list-active-rgb: 0,175,156;
    --message-background-deep: rgba(9,14,17,0.35);
    --message-background-deep-rgb: 9.3,13.74,16.7;
    --message-placeholder-icon: hsla(0,0%,80%,0.3);
    --message-placeholder-icon-rgb: 204,204,204;
    --message-primary: rgba(241,241,242,0.95);
    --message-primary-rgb: 241,241,242;
    --message-selection-highlight: rgba(241,241,242,0.05);
    --message-selection-highlight-rgb: 241,241,242;
    --modal-backdrop: rgba(9,14,17,0.85);
    --modal-backdrop-rgb: 9.3,13.74,16.7;
    --modal-backdrop-solid: #20272b;
    --modal-backdrop-solid-rgb: 31.75,39.01316,43.25;
    --modal-background: #3b4042;
    --modal-background-rgb: 59,63.52941,66;
    --notification-biz-background: #20272b;
    --notification-biz-background-rgb: 31.75,39.01316,43.25;
    --notification-biz-text: #55fad9;
    --notification-biz-text-rgb: 85,250,217;
    --notification-e2e-background: #20272b;
    --notification-e2e-background-rgb: 31.75,39.01316,43.25;
    --notification-e2e-icon: #fad964;
    --notification-e2e-icon-rgb: 250,217,100;
    --notification-e2e-text: #fad964;
    --notification-e2e-text-rgb: 250,217,100;
    --notification-info-icon: #55fad9;
    --notification-info-icon-rgb: 85,250,217;
    --notification-non-e2e-background: #1d282e;
    --notification-non-e2e-background-rgb: 29,40,46;
    --notification-non-e2e-text: #42c7b8;
    --notification-non-e2e-text-rgb: 66,199,184;
    --notification-text: rgba(241,241,242,0.4);
    --notification-text-rgb: 241,241,242;
    --outgoing-background: #056162;
    --outgoing-background-rgb: 5,97,98;
    --outgoing-background-deeper: #065051;
    --outgoing-background-deeper-rgb: 6,80,81;
    --outgoing-background-highlight: #ccc;
    --outgoing-background-highlight-rgb: 204,204,204;
    --overlay: #090e11;
    --overlay-rgb: 9.3,13.74,16.7;
    --panel-background: #20272b;
    --panel-background-rgb: 31.75,39.01316,43.25;
    --panel-background-active: #1e2529;
    --panel-background-active-rgb: 30,37,41;
    --panel-background-colored: #323739;
    --panel-background-colored-rgb: 49.815,54.58382,57.185;
    --panel-background-colored-deeper: #323739;
    --panel-background-colored-deeper-rgb: 49.815,54.58382,57.185;
    --panel-background-deep: #191f23;
    --panel-background-deep-rgb: 25,31,35;
    --panel-background-deeper: #1e2429;
    --panel-background-deeper-rgb: 30,36,41;
    --panel-background-hover: #1e2429;
    --panel-background-hover-rgb: 30,36,41;
    --panel-background-lighter: #1e2429;
    --panel-background-lighter-rgb: 30,36,41;
    --panel-header-background: #2a2f32;
    --panel-header-background-rgb: 41.6,47.46667,50.4;
    --panel-header-icon: #b1b3b5;
    --panel-header-icon-rgb: 177,179,181;
    --panel-input-background: #262d31;
    --panel-input-background-rgb: 38.35,44.85526,48.65;
    --panel-primary: rgba(241,241,242,0.35);
    --panel-primary-rgb: 241,241,242;
    --payment-amount: #00a593;
    --payment-amount-rgb: 0,164.8,146.90743;
    --payment-status-failed: #ef697a;
    --payment-status-failed-rgb: 239,105,122;
    --payment-status-pending: rgba(241,241,242,0.45);
    --payment-status-pending-rgb: 241,241,242;
    --payment-status-success: #40cf6c;
    --payment-status-success-rgb: 64,207,108;
    --photopicker-overlay-background: rgba(35,43,47,0.8);
    --photopicker-overlay-background-rgb: 35,43,47;
    --picker-background: #2a2f32;
    --picker-background-rgb: 41.6,47.46667,50.4;
    --pip-drag-bar: #fff;
    --pip-drag-bar-rgb: 255,255,255;
    --pip-manager-content: rgba(44,58,66,0.85);
    --pip-manager-content-rgb: 44,58,66;
    --popup-panel-background: #131c21;
    --popup-panel-background-rgb: 18.6,28.22,33.4;
    --primary-muted: grey;
    --primary-muted-rgb: 128,128,128;
    --primary: #d4d5d7;
    --primary-rgb: 212,213,215;
    --primary-strong: rgba(241,241,242,0.92);
    --primary-strong-rgb: 241,241,242;
    --primary-stronger: rgba(241,241,242,0.88);
    --primary-stronger-rgb: 241,241,242;
    --primary-strongest: #fff;
    --primary-strongest-rgb: 255,255,255;
    --primary-title: rgba(241,241,242,0.88);
    --primary-title-rgb: 241,241,242;
    --product-image-button-background: rgba(9,14,17,0.35);
    --product-image-button-background-rgb: 9.3,13.74,16.7;
    --product-placeholder-background: rgba(9,14,17,0.35);
    --product-placeholder-background-rgb: 9.3,13.74,16.7;
    --product-thumb-background: #20272b;
    --product-thumb-background-rgb: 31.75,39.01316,43.25;
    --product-thumb-background-deeper: #313c43;
    --product-thumb-background-deeper-rgb: 49.022,60.23632,66.778;
    --product-thumb-overlay-background: rgba(0,0,0,0.5);
    --product-thumb-overlay-background-rgb: 0,0,0;
    --product-thumb-overlay-text: #f1f1f2;
    --product-thumb-overlay-text-rgb: 241,241,242;
    --progress-background: #2a2f32;
    --progress-background-rgb: 41.6,47.46667,50.4;
    --progress-primary: #0c897c;
    --progress-primary-rgb: 12,137,124;
    --ptt-blue: #34b7f1;
    --ptt-blue-rgb: 52,183,241;
    --ptt-button-cancel: #ef697a;
    --ptt-button-cancel-rgb: 239,105,122;
    --ptt-button-send: #40cf6c;
    --ptt-button-send-rgb: 64,207,108;
    --ptt-draft-button-cancel: #8696a0;
    --ptt-draft-button-cancel-rgb: 134,150,160;
    --ptt-draft-button-cancel-hover: #91a0a9;
    --ptt-draft-button-cancel-hover-rgb: 145.42778,159.91667,168.97222;
    --ptt-draft-button-play-pause: #e9edef;
    --ptt-draft-button-play-pause-rgb: 233,237,239;
    --ptt-draft-button-play-pause-hover: #f5f7f8;
    --ptt-draft-button-play-pause-hover-rgb: 244.81053,246.66316,247.58947;
    --ptt-draft-button-stop: #ff3b30;
    --ptt-draft-button-stop-rgb: 255,59,48;
    --ptt-draft-button-stop-hover: #ff4e44;
    --ptt-draft-button-stop-hover-rgb: 255,78.31594,68.4;
    --ptt-draft-button-send: #00af9c;
    --ptt-draft-button-send-rgb: 0,175,156;
    --ptt-draft-button-send-hover: #00c3ae;
    --ptt-draft-button-send-hover-rgb: 0,195.4,174.18514;
    --ptt-draft-thumb: #f1f1f2;
    --ptt-draft-thumb-rgb: 241,241,242;
    --ptt-thumb-outgoing-unplayed: #d1d7db;
    --ptt-thumb-outgoing-unplayed-rgb: 209,215,219;
    --ptt-thumb-outgoing-played: #34b7f1;
    --ptt-thumb-outgoing-played-rgb: 52,183,241;
    --ptt-thumb-incoming-unplayed: #09d261;
    --ptt-thumb-incoming-unplayed-rgb: 9,210,97;
    --ptt-thumb-incoming-played: #34b7f1;
    --ptt-thumb-incoming-played-rgb: 52,183,241;
    --ptt-draft-waveform-background: #3b4042;
    --ptt-draft-waveform-background-rgb: 59,63.52941,66;
    --ptt-draft-waveform-background-border: #131c21;
    --ptt-draft-waveform-background-border-rgb: 18.6,28.22,33.4;
    --ptt-waveform-preview-unplayed: #626668;
    --ptt-waveform-preview-unplayed-rgb: 98,102,104;
    --ptt-waveform-incoming-unplayed: #676c6f;
    --ptt-waveform-incoming-unplayed-rgb: 103,108,111;
    --ptt-waveform-outgoing-unplayed: #509091;
    --ptt-waveform-outgoing-unplayed-rgb: 80,144,145;
    --ptt-waveform-preview-played: #b1b2b3;
    --ptt-waveform-preview-played-rgb: 177,178,179;
    --ptt-waveform-incoming-played: #a8abac;
    --ptt-waveform-incoming-played-rgb: 168,171,172;
    --ptt-waveform-outgoing-played: #9bc0c0;
    --ptt-waveform-outgoing-played-rgb: 155,192,192;
    --ptt-gray: rgba(241,241,242,0.4);
    --ptt-gray-rgb: 241,241,242;
    --ptt-gray-badge: rgba(0,0,0,0.4);
    --ptt-gray-badge-rgb: 0,0,0;
    --ptt-green: #09d261;
    --ptt-green-rgb: 9,210,97;
    --ptt-message-blue: #68bbe4;
    --ptt-message-blue-rgb: 104,187,228;
    --ptt-text: #f1f1f2;
    --ptt-text-rgb: 241,241,242;
    --quick-action-button: rgba(241,241,242,0.5);
    --quick-action-button-rgb: 241,241,242;
    --quick-action-button-background: rgba(9,14,17,0.6);
    --quick-action-button-background-rgb: 9.3,13.74,16.7;
    --rich-text-panel-background: #1e2428;
    --rich-text-panel-background-rgb: 29.591,36.36026,40.309;
    --search-container-background: #131c21;
    --search-container-background-rgb: 18.6,28.22,33.4;
    --search-input-background: #323739;
    --search-input-background-rgb: 49.815,54.58382,57.185;
    --secondary: rgba(241,241,242,0.63);
    --secondary-rgb: 241,241,242;
    --secondary-light: rgba(241,241,242,0.25);
    --secondary-light-rgb: 241,241,242;
    --secondary-lighter: rgba(241,241,242,0.45);
    --secondary-lighter-rgb: 241,241,242;
    --secondary-stronger: rgba(241,241,242,0.8);
    --secondary-stronger-rgb: 241,241,242;
    --security-icon-background: #d3ede6;
    --security-icon-background-rgb: 211,237,230;
    --security-icon-lock: #1fc4b1;
    --security-icon-lock-rgb: 31,196,177;
    --security-icon-shield: #f0faf7;
    --security-icon-shield-rgb: 240,250,247;
    --shadow: #000;
    --shadow-rgb: 0,0,0;
    --shadow-light: rgba(0,0,0,0.08);
    --shadow-light-rgb: 0,0,0;
    --spinner-default: #75787a;
    --spinner-default-rgb: 117,120,122;
    --spinner-highlight: #00af9c;
    --spinner-highlight-rgb: 0,175,156;
    --spinner-incoming: #63686b;
    --spinner-incoming-rgb: 99,104,107;
    --spinner-outgoing: #4c8c8d;
    --spinner-outgoing-rgb: 76,140,141;
    --startup-background: #131c21;
    --startup-background-rgb: 18.6,28.22,33.4;
    --startup-icon: #6c7175;
    --startup-icon-rgb: 108,113,117;
    --status-background: #000;
    --status-background-rgb: 0,0,0;
    --status-background-hover: #242424;
    --status-background-hover-rgb: 36,36,36;
    --status-primary: #fff;
    --status-primary-rgb: 255,255,255;
    --status-secondary: hsla(0,0%,100%,0.55);
    --status-secondary-rgb: 255,255,255;
    --status-secondary-stronger: #b3b3b3;
    --status-secondary-stronger-rgb: 179,179,179;
    --status-ring-read: #bbbec4;
    --status-ring-read-rgb: 187,190,196;
    --status-thumbnail-background: #777;
    --status-thumbnail-background-rgb: 119,119,119;
    --success: #00af9c;
    --success-rgb: 0,175,156;
    --suspicious-background: rgba(239,105,122,0.8);
    --suspicious-background-rgb: 239,105,122;
    --system-message-background: #1e2a30;
    --system-message-background-rgb: 30,42,48;
    --system-message-text: rgba(241,241,242,0.92);
    --system-message-text-rgb: 241,241,242;
    --teal-hover: #00b7a1;
    --teal-hover-rgb: 0,183,161;
    --teal-pale: #5fc8bc;
    --teal-pale-rgb: 95,200,188;
    --thumb-border-active: #75787a;
    --thumb-border-active-rgb: 117,120,122;
    --thumb-border-viewer-active: #75787a;
    --thumb-border-viewer-active-rgb: 117,120,122;
    --toast-background: rgba(9,14,17,0.96);
    --toast-background-rgb: 9.3,13.74,16.7;
    --tooltip-text: #000;
    --tooltip-text-rgb: 0,0,0;
    --tooltip-background: #fff;
    --tooltip-background-rgb: 255,255,255;
    --typing: #00af9c;
    --typing-rgb: 0,175,156;
    --unread-background: #20272b;
    --unread-background-rgb: 31.75,39.01316,43.25;
    --unread-bar-background: rgba(9,14,17,0.6);
    --unread-bar-background-rgb: 9.3,13.74,16.7;
    --unread-marker-background: #00af9c;
    --unread-marker-background-rgb: 0,175,156;
    --unread-marker-text: #131c21;
    --unread-marker-text-rgb: 18.6,28.22,33.4;
    --vcard-placeholder-background: rgba(241,241,242,0.04);
    --vcard-placeholder-background-rgb: 241,241,242;
    --vcard-placeholder-background-deeper: rgba(241,241,242,0.12);
    --vcard-placeholder-background-deeper-rgb: 241,241,242;
    --video-player-background: #000;
    --video-player-background-rgb: 0,0,0;
    --pip-player-background: #2a2f32;
    --pip-player-background-rgb: 41.6,47.46667,50.4;
    --video-primary: #fff;
    --video-primary-rgb: 255,255,255;
    --voip-accept-background: #2ec452;
    --voip-accept-background-rgb: 46,196,82;
    --voip-background: #262626;
    --voip-background-rgb: 38,38,38;
    --voip-background-deep: #000;
    --voip-background-deep-rgb: 0,0,0;
    --voip-video-background: #242424;
    --voip-video-background-rgb: 36,36,36;
    --voip-controls-background: #2d2d2d;
    --voip-controls-background-rgb: 45,45,45;
    --voip-primary: #fff;
    --voip-primary-rgb: 255,255,255;
    --voip-alternative: #000;
    --voip-alternative-rgb: 0,0,0;
    --voip-reject-background: #ff3b30;
    --voip-reject-background-rgb: 255,59,48;
    --voip-disabled-background: #222;
    --voip-disabled-background-rgb: 34,34,34;
    --wallpaper-background: #0d1418;
    --wallpaper-background-rgb: 13.12731,19.91681,23.57269;
    --wallpaper-thumb-border-active: #75787a;
    --wallpaper-thumb-border-active-rgb: 117,120,122;
    --wallpaper-thumb-border-hover: #3b4042;
    --wallpaper-thumb-border-hover-rgb: 59,63.52941,66;
    --win32-title-primary: #fff;
    --win32-title-primary-rgb: 255,255,255;
    --reactions-bubble-border: #111b21;
    --reactions-bubble-border-rgb: 17,27,33;
    --reactions-bubble-counter: rgba(241,241,242,0.6);
    --reactions-bubble-counter-rgb: 241,241,242;
}